<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Flux Reconstructor</title>

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/full-width-pics.css') }}">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Flux Reconstructor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="background-image: url('https://www.designnews.com/sites/default/files/103601_947901.jpg');">
              <div style="height: 300px;"></div>
    </header>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>What is Flux Reconstructor</h1>
        <p class="lead">It is an online tool for performing simple Computational Fluid Dynamics calculations.</p>
        <p>It's goal is to "catch" flow physics with a low cost - you don't need any heavy software on your computer. Everything will happen here.</p>
          <p>You will need to perform 3 steps: model, mesh and calculate. After that you will get results file.</p>
          <p>This tool is based on PyFR framework:</p>
          <p>Go to official PyFR page to check how you can use it: <a href="http://pyfr.org">http://pyfr.org</a></p>
          <p>And to VincentLab git repository if you want to contribute or just check out the code: <a href="https://github.com/vincentlab/PyFR">https://github.com/vincentlab/PyFR</a></p>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/21c557d9281ee2ec1faf42598901ba3b/large.JPG');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 600px;"></div>
    </section>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Model</h1>
        <p class="lead">At first geometrical model of immersed body will be prepared</p>
          <p>If you want to prepare it here.. sorry, you will need to wait for next version of Flux Reconstructor. For now you can use: <a href="https://openjscad.org">OpenJSCAD</a>
              It will be integrated in the next version. Please upload your geometry file or go to next step if you already have mesh prepared or want to start directly from mesh</p>
          <form action = "/upload_stl" method = "POST" enctype = "multipart/form-data">
             <label class="btn btn-primary" for="my-file-selector">
                <input id="my-file-selector" type="file" style="display:none;">
                Choose STL
             </label>
              <label class="btn btn-primary" for="my-submit">
                <input id="my-submit" class="btn btn-primary" type = "submit" value="Upload" style="display:none;"/>
                  Upload
              </label>
          </form>
      </div>
    </section>

        <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h1>Mesh</h1>
        <p class="lead">Mesh for uploaded model</p>
          <p>Mesh can be prepared with the help of Pygmsh library: <a href="https://github.com/nschloe/pygmsh">https://github.com/nschloe/pygmsh</a>
              You can use Pygmsh script to create your .msh file. You can download it for a review. Please upload final version here when you're ready.</p>
          <p>You can also upload ready .msh file if you already have it</p>
          <p>UPloaded file will be converted to .pyfrm which is PyFR acceptable mesh file format and used for calculations</p>
          <div class="form-group">
              <form action = "/pygmsh" method = "POST" id="pygmsh" enctype = "multipart/form-data">
                  <label class="btn btn-primary" for="mesh-gen">
                    <input id="mesh-gen" class="btn btn-primary" type = "submit" value="Generate" style="display:none;"/>
                      Generate
                  </label>
              </form>
              <label for="comment">Pygmsh script goes here:</label>
              <textarea class="form-control" rows="15" id="comment" name="PyGmsh" form="pygmsh"></textarea>
          </div>
      <form action = "/upload_msh" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input class="btn btn-primary" type = "submit"/>
      </form>
      </div>
    </section>

            <!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://www.caeses.com/wp-content/uploads/2014/10/shipflow_streamlines_cfd-670x300.png');">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    <section id="calc" class="py-5">
      <div class="container">
        <h1>Calculation</h1>
        <p class="lead">Calculate Navier-Stokes equations using FR</p>
          <p>Flux Reconstruction method will now be used. Navier Stokes equations will be solved with a use of high order numerical method. Calculations will use CPU OpenMp. GPU CUDA will option will also be introduced in next version.
              </p><p>Last step will require to set flow initial and boundary conditions:</p>
                <br/>
                <div class="row">
                    <p class="col-md-6">Constants</p>
                    <p class="col-md-6">Parameterises space (x, y, [z]) dependent initial conditions</p>
                </div>
              <form action = "/config" method = "POST" enctype = "multipart/form-data">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="gamma">gamma</label>
                          <input type = "text" name="gamma" class="form-control" id="gamma" value="1.4" aria-describedby="gammaHelp" placeholder="Enter gamma"/>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="rho">rho</label>
                          <input type = "text" name="rho" class="form-control" id="rho" value="4*(Pc*sqrt(Pr*(Pr*Uw*Uw+8*cp*Tw))*log((sqrt(Pr*(Pr*Uw*Uw+8*cp*Tw))+Pr*Uw)/(sqrt(Pr*(Pr*Uw*Uw+8*cp*Tw))-Pr*Uw))*gamma)/(Pr*Uw*(Pr*Uw*Uw+8*cp*Tw)*(gamma-1))" aria-describedby="rhoHelp" placeholder="Enter rho"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="mu">mu</label>
                          <input type = "text" name="mu" class="form-control" id="mu" value="0.417" aria-describedby="muHelp" placeholder="Enter mu"/>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="u">u</label>
                          <input type = "text" name="u" class="form-control" id="u" value="Uw" aria-describedby="uHelp" placeholder="Enter u"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="Pr">Pr</label>
                          <input type = "text" name="Pr" class="form-control" id="Pr" value="0.72" aria-describedby="PrHelp" placeholder="Enter Pr"/>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="v">v</label>
                          <input type = "text" name="v" class="form-control" id="v" value="0.0" aria-describedby="vHelp" placeholder="Enter v"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="cp">cp</label>
                          <input type = "text" name="cp" class="form-control" id="cp" value="1005.0" aria-describedby="cpHelp" placeholder="Enter cp"/>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="w">w</label>
                          <input type = "text" name="w" class="form-control" id="w"  aria-describedby="wHelp" placeholder="Enter w"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="Uw">Uw</label>
                          <input type = "text" name="Uw" class="form-control" id="Uw" value="70" aria-describedby="UwHelp" placeholder="Enter Uw"/>
                      </div>
                      <div class="form-group col-md-6">
                          <label for="p">p</label>
                          <input type = "text" name="p" class="form-control" id="p" value="Pc" aria-describedby="pHelp" placeholder="Enter p"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="H">H</label>
                          <input type = "text" name="H" class="form-control" id="H" value="1.0" aria-describedby="HHelp" placeholder="Enter H"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="Pc">Pc</label>
                          <input type = "text" name="Pc" class="form-control" id="Pc" value="100000.0" aria-describedby="PcHelp" placeholder="Enter Pc"/>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="Tw">Tw</label>
                          <input type = "text" name="Tw" class="form-control" id="Tw" value="300.0" aria-describedby="TwHelp" placeholder="Enter Tw"/>
                      </div>
                  </div>
                  <label class="btn btn-primary" for="ini-submit">
                    <input id="ini-submit" class="btn btn-primary" type = "submit" value="Upload" style="display:none;"/>
                      Initialize
                  </label>
              </form>
          {% if pyfrm != None %}
             <form action = "http://localhost:5000/run" method = "POST" enctype = "multipart/form-data">
                 <input type="text" name="filename" placeholder="Your mesh filename without extension"/>
                  <label class="btn btn-primary" for="run-submit">
                    <input id="run-submit" class="btn btn-primary" type = "submit" value="Upload" style="display:none;"/>
                      Run
                  </label>
              </form>
            <p>Please keep in mind that hitting "run" will start FR calculations. This process can take a while. 5 minutes for academic usecases... </p>
          {% endif %}
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Flux Reconstructor 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

  </body>

</html>
